
*

!.gitignore

!config\ftbquests\quests\chapters\nfc.snbt
!config\chestcavity.json
!kubejs\contentpacks\sdbf_nfc_contentpacks\*
!SDBF_DLC\sdbf_nfc.json
!CREDIT.md

# 白名单 mods
!mods\animationjs-1.20.1-0.1.3.jar
!mods\chestcavity-1.20.1-2.16.7.jar
!mods\CustomMachinery-forge-1.20.1-0.10.7.jar
!mods\framework-forge-1.20.1-0.8.0.jar
!mods\kubejs-forge-2001.6.5-local.1769962400.jar
!mods\letsdo-API-forge-1.2.15-forge.jar
!mods\letsdo-bakery-forge-2.0.6.jar
!mods\letsdo-brewery-forge-2.0.6.jar
!mods\letsdo-candlelight-forge-2.0.5.jar
!mods\letsdo-farm_and_charm-forge-1.0.14.jar
!mods\liosplayeranimatorapi-forge-1.20.1-0.0.8.jar
!mods\plonk-1.20.1-10.0.5-forge.jar
!mods\refurbished_furniture-forge-1.20.1-1.0.20.jar
!mods\renderjs-forge-1.20.1-v1.1.9.jar
!mods\skillwheeljs-1.0-SNAPSHOT.jar